In [1]:
import pandas as pd

In [91]:
cols = pd.read_csv('../../data/variablepositions.tsv', sep='\t')
cols.head(7)
#18	IMONTH	2	19
#20	IDAY	2	21
#22	IYEAR	4	30

   Starting Column Variable Name  Field Length  Ending Column
0                1        _STATE             2             15
1               16        FMONTH             2             17
2               18         IDATE             8             17
3               31      DISPCODE             4             34
4               35         SEQNO            10             34
5               35          _PSU            10             61
6               62      CTELENUM             1             62

In [74]:
n  = len(cols)
cols.iloc[n-1]

Starting Column      2364
Variable Name      _AGE80
Field Length            2
Name: 331, dtype: object

In [84]:
cols.to_csv('../../data/variablepositions.tsv', sep='\t', index=False)

In [87]:
cols['Ending Column'] = cols['Starting Column']
col_pos = []
for index, row in cols.iterrows():
    startvalue = row['Starting Column']
    if index+1 < len(cols)-1:
        nextvalue = cols['Starting Column'].iloc[index+1]
    else: 
        nextvalue = startvalue + row['Field Length']
    cols.set_value(index,'Ending Column',nextvalue-1) 
    col_pos.append((startvalue, nextvalue-1))

In [88]:
cols.head(6)

   Starting Column Variable Name  Field Length  Ending Column
0                1        _STATE             2             15
1               16        FMONTH             2             17
2               18         IDATE             8             30
3               31      DISPCODE             4             34
4               35         SEQNO            10             34
5               35          _PSU            10             61

In [89]:
data = pd.read_fwf('../../data/LLCP2013.ASC', nrows=10000, colspecs=col_pos, header=None)#, widths=cols['Field Length'].tolist(), header=None)#, names=cols['Variable Name'].tolist())

In [90]:
#01             0101092013     11002013000580
data.head()

,0,1,2,3,4,5,6,7,8,9,...,319,320,321,322,323,324,325,326,327,328
0,1,1,1092013,100,NaN,13000580,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1,1,1192013,100,NaN,13000593,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,1,1,1192013,100,NaN,13000600,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
3,1,1,1112013,100,NaN,13000606,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4,1,2,2062013,100,NaN,13000608,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6

In [4]:
cols.head()

   Starting Column Variable Name  Field Length
0                1        _STATE             2
1               16        FMONTH             2
2               18         IDATE             8
3               18        IMONTH             2
4               20          IDAY             2